@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Ping L', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #d7cec5;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

main {
  min-height: 100%;
}

body {
  background: var(--background);
  color: black;
  font-family: 'Ping L', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

@font-face {
  font-family: 'Ping LCG';
  src: url('/fonts/ping-lcg-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
