version: "3.9"

services:
  frontend:
    build:
      context: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - BACKEND_URL=http://backend:5000
      - NEXT_DISABLE_ORACLE=true
    depends_on:
      - backend

  backend:
    build:
        context: ./backend
    volumes:
      - ./backend:/app
    ports:
      - "5000:5000"
    env_file:
      - path: .env
        required: true

    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/health"]
      interval: 5s
      timeout: 2s
      retries: 5

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=appdb
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d appdb"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s

  nginx:
    build:
      context: ./nginx
    ports:
      - "8443:443"
      - "8080:80"
    depends_on:
      - frontend
      - backend
  
  test-client:
    build:
      context: ./api-tests
    command: pytest tests
    depends_on:
      backend:
        condition: service_healthy
    environment:
      - BASE_URL=http://backend:5000
    volumes:
      - ./api-tests:/app




volumes:
  postgres_data:
